* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 12px;
}

.main-container {
    width: 90%;
    margin: 0 auto;
}

/* Navigation */

header {
    display: flex;
    background-color: #444;
}

nav {
    height: 40px;
    text-transform: uppercase;
    border: 0;
}

nav > ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav li {
    padding: 10px 25px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    border-bottom: 1px solid #9ac051;
}

.main-site {
    font-weight: bold;
}

.menu-trigger-el {
    color: #fff;
}

.menu-trigger-el span:hover {
    border-bottom: 1px solid #9ac051;
    cursor: pointer;
}

.nested-menu {
    list-style: none;
    background-color: #fff;
    text-transform: none;
    position: absolute;
    top: 40px;
    font-size: 10px;
    display: none;
}

.nested-menu li {
    border: none;
    cursor: pointer;
}

.nested-menu a {
    color: #444;
}

.nested-menu li:hover, .nested-menu a:hover {
    color: #fff;
    background-color: #9ac051;
}

/* Main image */

.main-img {
    height: 450px;
    background: url(../images/dewang-gupta-272186-unsplash.jpg) no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.main-text {
    text-align: center;
}

.main-text h1 {
    font-family: "Times New Roman", serif;
    font-size: 45px;
    text-transform: uppercase;
}

.main-text h2 {
    width: 70%;
    font-size: 20px;
    font-weight: 300;
    margin: 30px auto;
}

.main-text button {
    background-color: #9ac051;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;  
}

.main-text button:hover {
    background-color: #647e32;
}

/* Section why us */

.why-us {
    height: 300px;
    background-color: #fcfbfb;
    border-bottom: .5px solid #f2f2f2;
    color: #444;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.points h3 {
    font-family: 'Times New Roman', serif;
    margin: 0 0 30px 0;
    font-size: 20px;
}

.points i {
    color: #9ac051;
    padding-right: 15px;
}

.points ul {
    list-style: none;
}

.points li {
    margin-bottom: 20px;
}

.points span {
    font-weight: 600;
}

.image img {
    border-radius: 5px;
}

/* Section offer */

.offer {
    display: flex;
    justify-content: space-around;
    padding: 0 100px;
}

.offer figure {
    width: 300px;
    background-color: #fcfbfb;
    border: .5px solid #f2f2f2;
    margin: 50px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer h4 {
    margin: 20px 0;
    color: #9ac051;
    text-transform: uppercase;
    font-weight: 400;
}

.offer p {
    padding: 0 20px;
    color: #444;
    text-align: center;
}

.additional-paragraph {
    display: none;
}

.offer .circle-img {
    margin: 20px 0 0 0;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.offer .skin-therapy {
    background: url(../images/love-romantic-bath-candlelight.jpg) no-repeat bottom/cover;
}

.offer .face-therapy {
    background: url(../images/pexels-photo-725998.jpeg) no-repeat bottom/cover;
}

.offer .body-therapy {
    background: url(../images/pexels-photo-259810.jpeg) no-repeat center/cover;

}

.offer .read-more-less-btn {
    background-color: #9ac051;
    color: #fff;
    font-size: 10px;
    margin: 30px 0;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
}

/* Section newsletter */

.newsletter {
    height: 200px;
    background-color: #9ac051;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter h5 {
    text-transform: uppercase;
    font-family: 'Times New Roman', serif;
    font-size: 16px;
    margin: 0 0 20px 0;
}

.newsletter-form {
    display: flex;
    justify-content: center;
}

.newsletter-form input {
    margin-right: 20px;
    width: 250px;
}

.newsletter-form button {
    background-color: #647e32;
    color: #fff;
}

.newsletter-form input, .newsletter-form button {
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.form-info {
    margin: 20px 0 0 0;
    text-align: center;
    font-weight: bold;
    display: none;
}

/* Section slider-container */

.slider-container {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.previous-arrow, .next-arrow {
    color: #f2f2f2;
    padding: 30px;
}

.previous-arrow:hover, .next-arrow:hover {
    color: #9ac051;
    cursor: pointer;
}

.slider-container i {
    font-size: 25px;
}

.slider img {
    width: 500px;
    border-radius: 5px;
}

.slider-stage {
    width: 500px;
    overflow-x: hidden;
}

.slider {
    list-style: none;
    width: 500px;
    padding: 0;
    display: flex;
    position: relative;
}

/* Section go-up */

.go-up {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.go-up i {
    font-size: 25px;
    color: rgb(180, 165, 165);
    cursor: pointer;
}

.go-up i:hover {
    color: #9ac051;
}

/* Footer */
footer {
    display: flex;
    background-color: #444;
    color: #fff;
    padding: 60px 100px;
}

footer section {
    width: 30%;
}

.about-us {
    font-weight: 200;
    margin: 0 0 10px 0;
}

.about-us h5 {
    font-family: 'Times New Roman', serif;
    font-size: 16px;
    text-transform: uppercase;
}

.about-us p {
    line-height: 2;
    margin: 10px 0;
}

.social-media {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.social-media li {
    background-color: #9ac051;
    margin: 30px 10px 0 0;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.social-media a {
    color: #fff;
    text-decoration: none;
}

.contact-details {
    margin: 0 50px;
}

.contact-details ul {
    list-style: none;
}

.contact-details li {
    margin-bottom: 5px;
    display: flex;
}

.contact-details i {
    color: #9ac051;
    margin-right: 10px;
}

.contact-details a {
    text-decoration: none;
    color: #fff;
}

.quick-links {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.quick-links ul {
    list-style: none;
    width: 190px;
    margin: 0 10px;
}

.quick-links li {
    border-bottom: .5px solid #666464;
    padding: 10px 10px 10px 0;
}

.quick-links li:first-child {
    padding-top: 0;
}

.quick-links li:last-child {
    border: none;
}

.quick-links i {
    margin-right: 10px;
    color: #9ac051;
    font-size: 6px;
}

.quick-links a {
    text-decoration: none;
    color: #fff;
}

/* Section copyright */

.copyright {
    height: 50px;
    background-color: #9ac051;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.copyright a {
    text-decoration: none;
    color: #fff;
}

