* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 12px;
}

.main-container {
    width: 90%;
    margin: 0 auto;
}

/* Navigation */

header {
    display: flex;
    background-color: #444;
}

nav {
    text-transform: uppercase;
    border: 0;
}

nav > ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav li {
    padding: 10px 25px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    border-bottom: 1px solid #9ac051;
}

.main-site {
    font-weight: bold;
}

/* Main image */

.main-img {
    height: 450px;
    background: url(../images/dewang-gupta-272186-unsplash.jpg) no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.main-text {
    text-align: center;
}

.main-text h1 {
    font-family: "Times New Roman", serif;
    font-size: 45px;
    text-transform: uppercase;
}

.main-text h2 {
    width: 70%;
    font-size: 20px;
    font-weight: 200;
    margin: 30px auto;
}

.main-text button {
    background-color: #9ac051;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;  
}

.main-text button:hover {
    background-color: #647e32;
}

/* Section why us */

.why-us {
    height: 300px;
    background-color: #fcfbfb;
    border-bottom: .5px solid #f2f2f2;
    color: #444;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.points h3 {
    font-family: 'Times New Roman', serif;
    margin: 0 0 30px 0;
    font-size: 20px;
}

.points i {
    color: #9ac051;
    padding-right: 15px;
}

.points ul {
    list-style: none;
}

.points li {
    margin-bottom: 20px;
}

.points span {
    font-weight: 600;
}

.image img {
    border-radius: 5px;
}

/* Section offer */

.offer {
    display: flex;
    justify-content: space-around;
    padding: 0 100px;
}

.offer figure {
    width: 300px;
    background-color: #fcfbfb;
    border: .5px solid #f2f2f2;
    margin: 50px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer h4 {
    margin: 20px 0 0 0;
    color: #9ac051;
    text-transform: uppercase;
    font-weight: 400;
}

.offer p {
    margin: 15px 0 20px 0;
    padding: 0 20px;
    color: #444;
    text-align: center;
}

.offer .circle-img {
    margin: 20px 0 0 0;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.offer .skin-therapy {
    background: url(../images/love-romantic-bath-candlelight.jpg) no-repeat bottom/cover;
}

.offer .face-therapy {
    background: url(../images/pexels-photo-725998.jpeg) no-repeat bottom/cover;
}

.offer .body-therapy {
    background: url(../images/pexels-photo-259810.jpeg) no-repeat center/cover;

}

.offer .read-more-less-btn {
    background-color: #9ac051;
    color: #fff;
    font-size: 10px;
    margin: 0 0 30px 0;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
}

/* Section newsletter */

.newsletter {
    height: 200px;
    background-color: #9ac051;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter h5 {
    text-transform: uppercase;
    font-family: 'Times New Roman', serif;
    font-size: 16px;
    margin: 0 0 20px 0;
}

.newsletter-form {
    display: flex;
    justify-content: center;
}

.newsletter-form input {
    margin-right: 20px;
    width: 250px;
}

.newsletter-form button {
    background-color: #647e32;
    color: #fff;

}

.newsletter-form input, .newsletter-form button {
    border: none;
    border-radius: 10px;
    padding: 10px;
}

/* Section slider-container */

.slider-container {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.previous-arrow, .next-arrow {
    color: #f2f2f2;
    padding: 30px;
}

.previous-arrow:hover, .next-arrow:hover {
    color: #9ac051;
    cursor: pointer;
}

.slider-container i {
    font-size: 25px;
}

.slider img {
    width: 500px;
    border-radius: 5px;
}

.slider-stage {
    width: 500px;;
}

.slider {
    list-style: none;
    width: 500px;
    padding: 0;
    display: flex;
    overflow-x: hidden;
}

/* Section go-up */

.go-up {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.go-up i {
    font-size: 25px;
    color: rgb(180, 165, 165);
    cursor: pointer;
}

.go-up i:hover {
    color: #9ac051;
}